<%= form_for(@expence) do |f| %>
  <% if @expence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expence.errors.count, "error") %> prohibited this expence from being saved:</h2>

      <ul>
      <% @expence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :create_at %><br>
    <%= f.datetime_select :create_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
